/* section{
    background: url("../images/banner.png");
     padding-top: "286px";
    padding-bottom: 80px;
    background-blend-mode: overlay;
    background-color: "rgba(0, 0, 0, 0.5)";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.banner_text h3{
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    color: #fff;
}
.banner_text p{
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #fff;
}