/* section{
    background: url("../images/banner.png");
     padding-top: "286px";
    padding-bottom: 80px;
    background-blend-mode: overlay;
    background-color: "rgba(0, 0, 0, 0.5)";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */